@import "tailwindcss";
@import "@fontsource-variable/inter";

/* ROOT COLORS */
:root {
  --background: #ffffff;
  --foreground: #111827;
  --border: #e5e7eb;
}

/* DARK MODE */
.dark {
  --background: #111827;
  --foreground: #f9fafb;
  --border: #2f3747;
}

/* BASE */
body {
  margin: 0;
  font-family: "Inter Variable", sans-serif;
  background: var(--background);
  color: var(--foreground);
}

#root {
  min-height: 100vh;
}